{% extends "personas/layout-personas.html" %} {% block body %}

<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <div class="card card-body">
            <form action="{{url_for('add_Personas')}}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="nombre" placeholder="nombre">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="apellido" placeholder="apellido">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="dni" placeholder="dni">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="domicilio" placeholder="domicilio">
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" id="start" name="fech_d_nac" value="fecha de nacimiento">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="telefono" placeholder="edad minima">
                </div>
                <button class="btn btn-primary btn-block">
                Save 
                </button>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>nombre</td>
                    <td>apellido</td>
                    <td>dni</td>
                    <td>domicilio</td>
                    <td>fecha de nacimiento</td>
                    <td>telefono</td>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas %}
                <tr>
                    <td>{{persona.0}}</td>
                    <td>{{persona.1}}</td>
                    <td>{{persona.2}}</td>
                    <td>{{persona.3}}</td>
                    <td>{{persona.4}}</td>
                    <td>{{persona.5}}</td>
                    <td>{{persona.6}}</td>

                    <td>
                        <a href="/edit/{{persona.0}}" class="btn btn-secondary">edit</a>
                        <a href="/delete/{{persona.0}}" class="btn btn-danger btn-delete">delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}