{% extends "registros/layout.html" %} {% block body %}

<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <div class="card card-body">
            <form action="{{url_for('add_registro')}}" method="POST">
                <div class="form-group">
                    <input type="date" class="form-control" name="fecha" placeholder="Fecha">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="dosis" placeholder="dosis">
                </div>

                <select name="estado" class="custom-select" id="inputGroupSelect01">
                    {% for persona in personas %}
                    <option value=>{{persona['nombre']}} {{persona['apellido']}}</option>
                    {% endfor %}
                    </select>
                <div class="form-group">
                    <input type="text" class="form-control" name="edad_minima" placeholder="edad minima">
                </div>
                <select name="estado" class="custom-select" id="inputGroupSelect01">
                    {% for estado in estados %}
                    <option value={{estado.0}}>{{estado.1}}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-primary btn-block">
                Save 
                </button>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>fecha</td>
                    <td>dosis</td>
                    <td>persona</td>
                    <td>vacuna</td>
                    <td>vacunatorio</td>
                    <td>lote</td>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td>{{registro.0}}</td>
                    <td>{{registro.1}}</td>
                    <td>{{registro.2}}</td>
                    <td>{{registro.3}} {{registro.4}}</td>
                    <td>{{registro.5}}</td>
                    <td>{{registro.6}}</td>
                    <td>{{registro.7}}</td>
                    <td>
                        <a href="/edit/{{registro.0}}" class="btn btn-secondary">edit</a>
                        <a href="/delete/{{registro.0}}" class="btn btn-danger btn-delete">delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}