{% extends "registros/layout.html" %} {% block body %}

<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}
        
    </div>
    <div class="col-md-7">
        <div class="container ">
            <form action="{{url_for('IndexRegistros')}}" method="POST">
                <label for="">filtrar por fecha</label>
                <input type="date" name="fecha_desde" id="desde">
                <input type="date" name="fecha_hasta" id="hasta">
                <label for="">filtro por grupo</label>
                <select name="" class="custom-select" id="inputGroupSelect01">
                    <option value=""></option>
                </select>
                <input type="date" name="fecha_hasta" id="hasta">
                
                <button type="submit" class="btn btn-primary btn-block">
                    buscar
                    </button>
            </form>
        </div>
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>fecha</td>
                    <td>dosis</td>
                    <td>persona</td>
                    <td>vacuna</td>
                    <td>vacunatorio</td>
                    <td>lote</td>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                <tr>
                    <td>{{registro.0}}</td>
                    <td>{{registro.1}}</td>
                    <td>{{registro.2}}</td>
                    <td>{{registro.3}} {{registro.4}}</td>
                    <td>{{registro.5}}</td>
                    <td>{{registro.6}}</td>
                    <td>{{registro.7}}</td>
                    <td>
                        <a href="/edit/{{registro.0}}" class="btn btn-secondary">edit</a>
                        <a href="/delete/{{registro.0}}" class="btn btn-danger btn-delete">delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}