<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" type="image/jpg" href="/static/img/hospital.png" />

    <title>VACUNACION</title>
    <link rel="stylesheet" href="static\pluguins\css\bootstrap.min.css">
    <!-- BOOSTRAP 4 -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main-index.css')}}">
</head>

<body>

    <!-- NAVIGATION  -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">ADMINISTRACION DE VACUNAS</a>
    </nav>

    <div class="container pt-4">
        {% block body %} {% endblock %}
    </div>


    {% block script %} {% endblock %}




    <!-- scripts -->
    <script src="static\pluguins\js\jquery-3.6.0.min.js"></script>
    <script src="static\pluguins\js\bootstrap.min.js"></script>
</body>
<!-- footer -->

</html>